html{
	width:90%;
	height:100%;
    border:0;
    margin: auto;
	background-color:white;
}
body{
	height:100%;
	width:100%;
	color:dimgray;
	margin:auto;
    font-size:16px;
	font-family: Helvetica Neue, Arial;
    line-height: 20px;
}
header {
    visibility: hidden;
    height: 0px;
}
h1{
    line-height: 20px;
    color:cornflowerblue;
}
h2, h3{
    line-height: 20px;
    color:cornflowerblue;
}
.head{
    font-size:20px;
    text-align: right;
    color:red;
    margin: auto;
    width: 100%;
}
.disclaimer{
    color:darkred;
}
.footer{
    color:black;
    font-weight: 100;
    position:static;
    bottom:0px;
    right:10px;
    padding-top: 50px;
}
img[alt=capture1], img[alt=capture2], img[alt=capture3], img[alt=capture4], img[alt=capture5], img[alt=capture6], img[alt=capture7], img[alt=capture8], img[alt=capture9], img[alt=capture10], img[alt=capture11], img[alt=capture12], img[alt=capture13], img[alt=capture14], img[alt=capture15], img[alt=capture16], img[alt=capture17], img[alt=capture18], img[alt=capture19], img[alt=capture20], img[alt=capture21], img[alt=capture22], img[alt=capture23] {
    width: 350px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: white; 
    color: white;
}
img[alt=header] {
    max-width: 400px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: white; 
    color: white;
}
img[alt=RDS] {
    width: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: white; 
    color: white;
}
code{
    background-color: transparent;
    width:100%;
    font-size: 16px;
    line-height: 20px;
    
}
.code{
    background-color:whitesmoke;
}
.borders{
    background-color: whitesmoke;
    border:1px dashed darkred;
    padding:10px;
    margin-left:10px;
    margin-right: 10px;
    width: 100%;
}
.warn{
    color:white;
    background-color: darkorange;
    border: 1px dashed darkorange;
    padding:10px;
    margin-left:10px;
    margin-right: 10px;
    width: 100%;
}
.danger{
    color:white;
    background-color: darkred;
    border: 1px dashed darkred;
    padding:10px;
    margin-left:10px;
    margin-right: 10px;
    width: 100%;
}
.OK{
    color:white;
    background-color: darkcyan;
    border: 1px dashed darkcyan;
    padding:10px;
    margin-left:10px;
    margin-right: 10px;
    width: 100%;
}
figcaption{
    color: white !important;
    visibility: hidden;
}